This notebook is meant to represent the single location where the dimensions describes in the Abstract of the study are calculated.

In [1]:
import pandas as pd

In [3]:
all_muts_df = pd.read_pickle("./pub_aledb_MG1655_ep_max_freq_mut_df.pkl")
display(len(all_muts_df), all_muts_df.head())

7670

,exp,ale,flask,isolate,tech_rep,presence,Position,Mutation Type,Sequence Change,Details,Gene,Reference Seq,ALEdb source,sample,coding,exp ALE
23836,42C,1,124,1,1,1.0,702352,DEL,Δ21 bp,coding (380‑400/1149 nt),nagA,NC_000913,public,1 124 1 1,True,42C 1
183980,42C,1,124,1,1,1.0,702352,DEL,Δ21 bp,coding (380‑400/1149 nt),nagA,NC_000913,public,1 124 1 1,True,42C 1
23837,42C,1,124,1,1,1.0,1308318,SNP,G→C,R110G (CGT→GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1
183981,42C,1,124,1,1,1.0,1308318,SNP,G→C,R110G (CGT→GGT),clsA,NC_000913,public,1 124 1 1,True,42C 1
183979,42C,1,124,1,1,1.0,2173364,DEL,Δ1 bp,intergenic (‑2/+1),"gatC, gatC",NC_000913,public,1 124 1 1,False,42C 1

In [4]:
len(all_muts_df.exp.unique())

59

In [5]:
assoc_gen_feat_mut_df = pd.read_pickle("./out_assoc_gen_feats.pkl")
assoc_gen_feat_mut_df

,exp,ale,flask,isolate,tech_rep,presence,Position,Mutation Type,Sequence Change,Details,...,nitrogen_source,phosphorous_source,sulfur_source,calcium_source,supplement,temperature,strain,strain_details,taxonomy_id,tech_rep_description
0,42C,1,124,1,1,1.0,702352,DEL,Δ21 bp,coding (380‑400/1149 nt),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
1,42C,1,124,1,1,1.0,702352,DEL,Δ21 bp,coding (380‑400/1149 nt),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
2,42C,1,124,1,1,1.0,1308318,SNP,G→C,R110G (CGT→GGT),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
3,42C,1,124,1,1,1.0,1308318,SNP,G→C,R110G (CGT→GGT),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
4,42C,1,124,1,1,1.0,2173364,DEL,Δ1 bp,intergenic (‑2/+1),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),NaCl(0.5),42,511145.0,BOP27,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7665,tpiVCH,28,14,1,1,1.0,1544022,SUB,1 bp→AA,coding (39/1389 nt),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
7666,tpiVCH,28,14,1,1,1.0,2214152,SNP,A→T,Y165N (TAT→AAT),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
7667,tpiVCH,28,25,1,1,1.0,3815825,SNP,C→T,intergenic (‑57/+9),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
7668,tpiVCH,28,66,1,1,1.0,4159190,SNP,T→A,L224Q (CTG→CAG),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,
7669,tpiVCH,28,66,1,1,1.0,4182833,SNP,C→T,P520L (CCG→CTG),...,NH4Cl(1),"KH2PO4(3),Na2HPO4(6.8)",MgSO4(0.24),CaCl2(0.1),,37,511145.0,V. cholerae tpi E. coli K-12 MG1655,,

In [10]:
unique_entries = assoc_gen_feat_mut_df[['media_description', 'carbon_source', 'nitrogen_source', 'phosphorous_source', 'sulfur_source', 'calcium_source', 'supplement', 'temperature', 'strain', 'strain_details']].values.flatten()
unique_entries = pd.unique(unique_entries)
len(unique_entries)

72

In [27]:
all_imoddb_md_df = pd.read_csv('./data/imodulondb/sample_table.csv', index_col=0)
display(len(all_imoddb_md_df.study.unique()) + 1, all_imoddb_md_df.study.unique())  # + 1 for this studies ygfZ RNAseq samples

46

array(['Control', 'Fur', 'Acid', 'Oxidative', 'Nac/NtrC', 'Misc', 'Omics',
       'OmpR', 'MinSpan', 'Cra/Crp', 'RpoB Knock-in', 'Crp ARs',
       'Glucose Evolution', '42C Evolution',
       'Substrate-switching Evolution', 'ICA', 'yTF', 'False Positives',
       'Enzyme Promiscuity', 'Pseudogene Repair', 'Miscellaneous #2',
       'Naphthoquinone', 'Respiratory quinone', 'OxyR ALE', 'SvNS PGI',
       'AntibiotICA', 'HOT ALE', 'pdhR-ALE', 'Two Component Systems',
       'ROS TALE', 'pColi', 'CCK', 'CCK_pgi', 'CCK_sdhCB', 'CCK_ptsHIcrr',
       'CCK_gnd', 'CCK_tpiA', 'pH ALE', 'adnB', 'yTF 2', 'yTF 3',
       'Minicoli', 'EEP', 'DDB2', 'DDB3'], dtype=object)