In [1]:
import pandas as pd

In [2]:
var_df = pd.read_csv('fur_ale_muts.csv')
var_df.fillna('', inplace=True)
var_df

,AA pos,mutation type,mutation effect,mutation source,AA ref seq,AA seq change,mutation count,mutation effect color,selection pressure color,name
0,7,SUB,nonsynonymous substitution,unpublished,A,P,1,#DD8452,#AD8BC9,SUB A7P
1,14,SUB,nonsynonymous substitution,unpublished,K,N,1,#DD8452,#AD8BC9,SUB K14N
2,14,SUB,nonsynonymous substitution,unpublished,K,Q,1,#DD8452,#AD8BC9,SUB K14Q
3,18,SUB,nonsynonymous substitution,paraquat,P,T,3,#DD8452,#6DCCDA,SUB P18T
4,18,SUB,nonsynonymous substitution,unpublished,P,T,1,#DD8452,#AD8BC9,SUB P18T
5,23,SUB,nonsynonymous substitution,unpublished,L,Q,2,#DD8452,#AD8BC9,SUB L23Q
6,42,SUB,nonsynonymous substitution,paraquat,R,H,1,#DD8452,#6DCCDA,SUB R42H
7,42,SUB,nonsynonymous substitution,unpublished,R,H,1,#DD8452,#AD8BC9,SUB R42H
8,53,SUB,nonsynonymous substitution,paraquat,A,G,1,#DD8452,#6DCCDA,SUB A53G
9,61,SUB,nonsynonymous substitution,unpublished,Q,E,1,#DD8452,#AD8BC9,SUB Q61E
10,70,SUB,nonsynonymous substitution,unpublished,R,S,13,#DD8452,#AD8BC9,SUB R70S
11,71,SUB,nonsynonymous substitution,paraquat,H,Y,1,#DD8452,#6DCCDA,SUB H71Y
12,73,SUB,nonsynonymous substitution,unpublished,F,I,1,#DD8452,#AD8BC9,SUB F73I
13,92,SUB,nonsynonymous substitution,unpublished,I,N,1,#DD8452,#AD8BC9,SUB I92N
14,102,SUB,nonsynonymous substitution,unpublished,F,L,1,#DD8452,#AD8BC9,SUB F102L
15,104,SUB,nonsynonymous substitution,unpublished,D,V,1,#DD8452,#AD8BC9,SUB D104V
16,128,SUB,nonsynonymous substitution,unpublished,Y,F,1,#DD8452,#AD8BC9,SUB Y128F
17,131,SUB,nonsynonymous substitution,unpublished,G,A,1,#DD8452,#AD8BC9,SUB G131A

In [3]:
import warnings
warnings.filterwarnings('ignore')


out_df = pd.DataFrame(columns=['AA position', 'mutation count', 'color'])
for g, gdf in var_df.groupby(['AA pos', 'mutation effect color']):
    out_df = out_df.append({
        'AA position': g[0],
        'color': g[1],
        'mutation count': gdf['mutation count'].sum()
    }, ignore_index=True)
out_df

   AA position mutation count    color
0            7              1  #DD8452
1           14              2  #DD8452
2           18              4  #DD8452
3           23              2  #DD8452
4           42              2  #DD8452
5           53              1  #DD8452
6           61              1  #DD8452
7           70             13  #DD8452
8           71              1  #DD8452
9           73              1  #DD8452
10          92              1  #DD8452
11         102              1  #DD8452
12         104              1  #DD8452
13         128              1  #DD8452
14         131              1  #DD8452

In [4]:
# the structure for Fur currently being used includes the start Methionine,
# therefore variant residue position is the same as the AA position.
out_df['residue pos'] = out_df['AA position']
out_df.head()

  AA position mutation count    color residue pos
0           7              1  #DD8452           7
1          14              2  #DD8452          14
2          18              4  #DD8452          18
3          23              2  #DD8452          23
4          42              2  #DD8452          42

In [5]:
with open('vars.json', 'w') as outfile:  # for NGL
    outfile.write(out_df.to_json())