In [1]:
import pandas as pd

In [2]:
var_df = pd.read_csv('ygfZ_ale_muts.csv')
var_df.fillna('', inplace=True)
var_df

,AA pos,mutation type,mutation effect,mutation source,AA ref seq,AA seq change,mutation count,mutation effect color,selection pressure color,name
0,27,SUB,nonsynonymous substitution,paraquat,W,C,1,#DD8452,#6DCCDA,SUB W27C
1,27,SUB,nonsynonymous substitution,unpublished,W,C,1,#DD8452,#AD8BC9,SUB W27C
2,29,SUB,nonsynonymous substitution,paraquat,L,R,6,#DD8452,#6DCCDA,SUB L29R
3,29,SUB,nonsynonymous substitution,unpublished,L,R,1,#DD8452,#AD8BC9,SUB L29R
4,46,SUB,nonsynonymous substitution,unpublished,T,I,1,#DD8452,#AD8BC9,SUB T46I
5,61,SUB,synonymous substitution,unpublished,A,A,1,#55A868,#AD8BC9,SUB A61A
6,107,SUB,nonsynonymous substitution,paraquat,V,E,5,#DD8452,#6DCCDA,SUB V107E
7,107,SUB,nonsynonymous substitution,unpublished,V,E,1,#DD8452,#AD8BC9,SUB V107E
8,108,SUB,nonsynonymous substitution,paraquat,T,P,6,#DD8452,#6DCCDA,SUB T108P
9,108,SUB,nonsynonymous substitution,unpublished,T,P,1,#DD8452,#AD8BC9,SUB T108P
10,119,SUB,nonsynonymous substitution,unpublished,G,C,1,#DD8452,#AD8BC9,SUB G119C
11,197,SUB,nonsynonymous substitution,unpublished,G,D,1,#DD8452,#AD8BC9,SUB G197D
12,221,SUB,nonsynonymous substitution,paraquat,G,R,1,#DD8452,#6DCCDA,SUB G221R
13,221,SUB,nonsynonymous substitution,unpublished,G,R,1,#DD8452,#AD8BC9,SUB G221R
14,221,SUB,nonsynonymous substitution,unpublished,G,V,1,#DD8452,#AD8BC9,SUB G221V
15,229,SUB,nonsynonymous substitution,unpublished,Y,H,1,#DD8452,#AD8BC9,SUB Y229H
16,251,SUB,nonsynonymous substitution,unpublished,L,Q,1,#DD8452,#AD8BC9,SUB L251Q

In [3]:
import warnings
warnings.filterwarnings('ignore')


out_df = pd.DataFrame(columns=['AA position', 'mutation count', 'color'])
for g, gdf in var_df.groupby(['AA pos', 'mutation effect color']):
    out_df = out_df.append({
        # display(g, gdf, )
        'AA position': g[0],
        'color': g[1],
        'mutation count': gdf['mutation count'].sum()
    }, ignore_index=True)
out_df

   AA position mutation count    color
0           27              2  #DD8452
1           29              7  #DD8452
2           46              1  #DD8452
3           61              1  #55A868
4          107              6  #DD8452
5          108              7  #DD8452
6          119              1  #DD8452
7          197              1  #DD8452
8          221              3  #DD8452
9          229              1  #DD8452
10         251              1  #DD8452

In [4]:
# the structure for IscR currently being used includes the start Methionine,
# therefore variant residue position is the same as the AA position.
out_df['residue pos'] = out_df['AA position']
out_df.head()

  AA position mutation count    color residue pos
0          27              2  #DD8452          27
1          29              7  #DD8452          29
2          46              1  #DD8452          46
3          61              1  #55A868          61
4         107              6  #DD8452         107

In [5]:
with open('vars.json', 'w') as outfile:  # for NGL
    outfile.write(out_df.to_json())